{% extends "homepage.html" %}

{% block titulo %}
Projeto FilaZero - Criar Conta
{% endblock %}

 {% block formulario %}

        <form method="POST" class="popup">
            {{ form.csrf_token }}

            <svg height="40" width="40" >
                <!-- Círculo azul de fundo -->
                <circle cx="20" cy="20" r="20" fill="#0069b4" />
              
                <!-- Texto 'RU' em branco, com estilo arredondado -->
                <text x="50%" y="50%" font-size="12" text-anchor="middle" fill="white" dy=".3em" font-family="Arial, sans-serif" font-weight="bold">RU</text>
              </svg>

          <h2>Bem-vindo ao Projeto FilaZero</h2>

          <div class="div-input">
              {{ form.email.label(class="label") }}
                {{ form.email(class="input") }}
          </div>

            <div class="div-input">
              {{ form.username.label(class="label") }}
                {{ form.username(class="input") }}
          </div>

          <div class="div-input">
            {{ form.senha.label(class="label") }}
            {{ form.senha(class="input") }}
          </div>

          <div class="div-input">
            {{ form.confirmacao_senha.label(class="label") }}
            {{ form.confirmacao_senha(class="input") }}
          </div>


          <div class="div-botao">
              {{ form.botao_confirmacao(class="botao-login") }}
            <a href="{{ url_for('homepage') }}" class="link-criarconta">Já tem uma conta? Faça Login</a>
          </div>

        </form>
          {% endblock %}